<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<charset>UTF-8</charset>
			<pattern>%d{HH:mm:ss} %level %logger[%line]: %msg %n</pattern>
		</encoder>
	</appender>

	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>log/sap_connector.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<fileNamePattern>sap_connector.%d{yyyy-MM-dd}.log</fileNamePattern>

			<!-- keep 30 days' worth of history capped at 3GB total size -->
			<maxHistory>30</maxHistory>
			<totalSizeCap>3GB</totalSizeCap>
		</rollingPolicy>

		<encoder>
			<charset>UTF-8</charset>
			<pattern>%d{HH:mm:ss} %level %logger[%line]: %msg %n</pattern>
		</encoder>
	</appender>
	
	<logger name="ast.sap.connector" level="DEBUG">
		<!-- COMENTAR EL APPENDER STDOUT EN PRODUCCION -->
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</logger>

	<root level="OFF">
	</root>
</configuration>